.sidebar__main {
  display: none;
  position: sticky;
  top: 0;
  min-width: 150px;

  @include breakpoint(laptop) { display: block; }
}
.sidebar__main .title {
  font-size: 10px;
  margin-bottom: 5px;
}
.sidebar__top { height: 50px; }
.sidebar__middle .sidebar__menu {
  margin: initial;
  padding: initial;
  list-style-type: none;
  cursor: pointer;

  .menu__item {
    padding: 5px;

    span { margin-left: 10px; }

    &:hover { background-color: $dashboard_gray; }
  }
}

.sidebar__main .collor-options {
  padding: 5px;

  .collor-option {
    margin-right: 10px;
    border: solid 1px $dashboard_black;
    border-radius: 5px;
    cursor: pointer;
  }
}

// MObile sidebar

.sidebar__main.mobile {
  display: block;
  position: absolute;
  top: 50;
  right: 0;
  transform: translateX(200px);
  transition: 0.5s;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  @include breakpoint(laptop) { display: none; }

  &.activeSidebar { transform: translateX(0); }
}

